html, body {
    padding: 0;
    margin: 0;
}

input {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #BBB;
    font-family: Helvetica, sans-serif;
    padding-bottom: 100px;
}

h2, h3 {
    margin: 0 0 .75em 0;
}

/******************************************/


/*.fixed-size-container {*/
/*    max-width: 1400px;*/
/*    margin: 40px auto 0 auto;*/
/*    background-color: #FFF;*/
/*    padding: 30px 0;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.fixed-size {*/
/*    width: 150px;*/
/*    height: 100px;*/
/*    background-color: #990b47;*/
/*    color: #FFF;*/
/*    line-height: 100px;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*    font-size: 60px;*/
/*    margin-bottom: 20px;*/
/*}*/
