html, body {
    padding: 0;
    margin: 0;
}

input {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #BBB;
    font-family: Helvetica, sans-serif;
    padding-bottom: 100px;
}

h2, h3 {
    margin: 0 0 .75em 0;
}

/******************************************/


/*.column-layout {*/
/*    background-color: white;*/
/*    margin: 40px auto 0 auto;*/
/*    padding: 20px 50px;*/
/*    display: flex;*/
/*}*/

/*.main-column {*/
/*    flex: 3;*/
/*    order: 2;*/
/*}*/

/*.sidebar-one {*/
/*    flex: 1;*/
/*    order: 1;*/
/*}*/

/*.sidebar-two {*/
/*    flex: 1;*/
/*    order: 3;*/
/*}*/
